* {
   padding: 0;
   margin: 0;
}
.slider{
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   background: #444;
}
.container{
   margin: 5vh 10vw 10vh 10vw;
   max-width: 80vw;
   height: 85vh;
   overflow: hidden;
}
h1{
   text-align: center;
   color: #c9c9c9;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 4vh;
   line-height: 4vh;
   margin: 1vh 0px 0px 0px;
   font-weight: 600;
   letter-spacing: 1px;
   text-transform: uppercase;
   text-decoration: underline;
}
.body{
   width: 100%;
   height: calc(100% - 8vh);
   margin: 2vh 0px 0px 0px;
   padding: 2vh 0px 0px 0px;
   background: #333;
   border-radius: 3%;
}
.items{
   width: 100%;
   height: 80%;
   margin: 1% 0px 0px 0px;
   display: flex;

   position: relative;
   right: 00%;
}
.items div{
   width: 100%;
   height: 100%;
   flex: 0 0 100%;
}
figure{
   background: #222;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
}
img{
   height: 100%;
   object-fit: contain;
   display: block;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}
figcaption{
   font-size: 2.5vh;
   color: #c9c9c9;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   letter-spacing: 0.5px;
   margin: 4vh 0px 0px 2vh;
}
.dots{
   display: flex;
   justify-content: end;
   margin: 4vh 2vh 0px 0px;
}
.dot{
   padding: 0.5em;
}
.dot div{
   width: 0.9em;
   height: 0.9em;
   background: #F17171;
   border-radius: 50%;
   box-sizing: border-box;
   cursor: pointer;
}